.search-table-span{
    background: none; border: none;
}
.search-input{
    border-radius:5px !important;
}
.search-form-group{
    display: inline-block;
}
.preloader{
    display:none !important;
}
.search-btn{
    display: inline-block;
    margin-bottom: 3px;
}
.input-group-prepend~.select2-container--default .select2-selection{
    height: auto;
}
.select2-container,.city-status{
    width: 85% !important;
}
