.search-table-span{
    background: none; border: none;
}
.search-input{
    border-radius:5px !important;
}
.search-form-group{
    display: inline-block;
}
.preloader{
    display:none !important;
}
