.search-table-span{
    background: none; border: none;
}
.search-input{
    border-radius:5px !important;
}
.search-form-group{
    display: inline-block;
}
.preloader{
    display:none !important;
}
.search-btn{
    display: inline-block;
    margin-bottom: 3px;
}
.input-group-prepend~.select2-container--default .select2-selection{
    height: auto;
}
.select2-container,.city-status{
    width: 85% !important;
}
.imageInTable{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.sub-nav-item .active{
    background: none !important;
    color: black !important;
    border: 1px dashed;
}
.edit-sub-nav-item .active{
    background-color: #dde5ee !important;
}
.search-form-group .input-group-prepend~.select2-container--default .select2-selection{
    border-radius: 5px;
    height: 38px;
    margin-left: 5px;
}
.search-form-group .select2-container{
    width: unset !important;
}
